page-login {
    .card-ios,
    .card-md {
      margin-top: -5em;
      //width: calc(100% - 24px);
      height: 650px;
      width: 600px;
      background-color: white;
      text-align: center;
      margin: 20px;
      box-shadow: none;
      border-radius: 20px;
    
    
    }
    .background {
      background-image: url("../assets/imgs/Filter-Building.jpg");
      background-size: cover;
      background-repeat: no-repeat;
    }
    .vertical-align-content>* {
      display: flex !important;
      align-content: center !important;
      align-items: center !important;
    }
    .item-ios,
    .item-md {
      background-color: transparent !important;
      color: white;
      margin: 1vh;
      

    }
    .text-input::-moz-placeholder {
      color: white;
    }
    .text-input:-ms-input-placeholder {
      color: black;
      
    }
    .text-input::-webkit-input-placeholder {
      text-indent: 0;
      color: black;
      
    }
    .nav{
      width: 400px;
      height: auto;
      margin: 7vh;
      margin-left: 7vh;
    }

    .btnwidth{
      width: 75%;
      margin-left: 8vh;
      

      
      
    }

    .ing{
      width: 75%;
      margin-bottom: 4vh;
      margin-left: 4vh;
    }

    .ipg{
      width: 50%;
      margin-bottom: 4vh;
      margin-left: 4vh;
    }

    .ilg{
      width: 75%;
      margin-bottom: 3vh;
      // margin-left: 3vh;

    }

    .pass{
      text-align: right;
    }


  
    }
  
  