page-camera {

    .bg {

        ion-card {
          position: relative;
          text-align: center;
          
         
        }

        .card-icon {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: dark;
          }

          .card-button {
            font-size: 1.0em;
            position: relative;
            top: 52%;
            width: 40%;
            // color: #fff;
            text-align: center;
            
          }

         
 
     
        

    }    

}
